In [1]:
import pandas as pd

In [2]:
sub768 = pd.read_csv('20200721-Pandas-Merge-768-EB7-3F-Ensemble-Submission.csv').rename({'target':'target1'},axis=1)
sub512 = pd.read_csv('submission-512-EB6-3F.csv').rename({'target':'target2'},axis=1)
sub384 = pd.read_csv('20200722 IMG EB5 384.csv').rename({'target':'target3'},axis=1)
#sub_data = pd.read_csv('20200721-test-data-submission.csv').rename({'target':'target4'},axis=1)
sub_data = pd.read_csv('SKL_XGB_data_only_submission.csv').rename({'target':'target4'},axis=1)

In [3]:
ensemble = sub768.merge(sub512,on='image_name',how='left')
ensemble.head()

     image_name   target1   target2
0  ISIC_0052060  0.023440  0.027555
1  ISIC_0052349  0.021552  0.022967
2  ISIC_0058510  0.024231  0.027024
3  ISIC_0073313  0.026245  0.028699
4  ISIC_0073502  0.051212  0.029710

In [4]:
ensemble = ensemble.merge(sub384,on='image_name',how='left')
ensemble.head()

     image_name   target1   target2   target3
0  ISIC_0052060  0.023440  0.027555  0.049933
1  ISIC_0052349  0.021552  0.022967  0.030573
2  ISIC_0058510  0.024231  0.027024  0.023258
3  ISIC_0073313  0.026245  0.028699  0.022494
4  ISIC_0073502  0.051212  0.029710  0.038520

In [5]:
ensemble = ensemble.merge(sub_data,on='image_name',how='left')
ensemble.head()

     image_name   target1   target2   target3   target4
0  ISIC_0052060  0.023440  0.027555  0.049933  0.126534
1  ISIC_0052349  0.021552  0.022967  0.030573  0.125917
2  ISIC_0058510  0.024231  0.027024  0.023258  0.125996
3  ISIC_0073313  0.026245  0.028699  0.022494  0.125938
4  ISIC_0073502  0.051212  0.029710  0.038520  0.137150

In [7]:
WGT_IMG_1 = 0.9*(1/2)
WGT_IMG_2 = 0.9*(1/2)
WGT_IMG_3 = 0.0*(1/2)
WGT_DATA = 0.1

ensemble['target'] = WGT_IMG_1*ensemble.target1 + WGT_IMG_2*ensemble.target2 + WGT_IMG_3*ensemble.target3 + WGT_DATA*ensemble.target4
ensemble.head()

     image_name   target1   target2   target3   target4    target
0  ISIC_0052060  0.023440  0.027555  0.049933  0.126534  0.035601
1  ISIC_0052349  0.021552  0.022967  0.030573  0.125917  0.032626
2  ISIC_0058510  0.024231  0.027024  0.023258  0.125996  0.035664
3  ISIC_0073313  0.026245  0.028699  0.022494  0.125938  0.037319
4  ISIC_0073502  0.051212  0.029710  0.038520  0.137150  0.050130

In [8]:
WGT_IMG_1+WGT_IMG_2+WGT_IMG_3+WGT_DATA

1.0

In [9]:
ensemble[['image_name','target']].to_csv('20200722-Pandas-Merge-Submission-TEST.csv',index=False)