In [1]:
import pandas as pd

In [2]:
sub768F1 = pd.read_csv('submission-768-EB7-1F.csv').rename({'target':'target1'},axis=1)
sub768F2 = pd.read_csv('submission-768-EB7-F2.csv').rename({'target':'target2'},axis=1)
sub768F3 = pd.read_csv('submission-768-EB7-F3.csv').rename({'target':'target3'},axis=1)

In [4]:
ensemble = sub768F1.merge(sub768F2,on='image_name',how='left')
ensemble.head()

     image_name   target1   target2
0  ISIC_0052060  0.022708  0.024031
1  ISIC_0052349  0.020689  0.022537
2  ISIC_0058510  0.024828  0.024814
3  ISIC_0073313  0.027280  0.025873
4  ISIC_0073502  0.078627  0.044269

In [5]:
ensemble = ensemble.merge(sub768F3,on='image_name',how='left')
ensemble.head()

     image_name   target1   target2   target3
0  ISIC_0052060  0.022708  0.024031  0.023581
1  ISIC_0052349  0.020689  0.022537  0.021431
2  ISIC_0058510  0.024828  0.024814  0.023053
3  ISIC_0073313  0.027280  0.025873  0.025582
4  ISIC_0073502  0.078627  0.044269  0.030741

In [6]:
WGT = 1/3

ensemble['target'] = WGT * ensemble.target1 + WGT * ensemble.target2 + WGT * ensemble.target3
ensemble.head()

     image_name   target1   target2   target3    target
0  ISIC_0052060  0.022708  0.024031  0.023581  0.023440
1  ISIC_0052349  0.020689  0.022537  0.021431  0.021552
2  ISIC_0058510  0.024828  0.024814  0.023053  0.024231
3  ISIC_0073313  0.027280  0.025873  0.025582  0.026245
4  ISIC_0073502  0.078627  0.044269  0.030741  0.051212

In [7]:
ensemble[['image_name','target']].to_csv('20200721-Pandas-Merge-768-EB7-3F-Ensemble-Submission.csv',index=False)