In [1]:
import pandas as pd

In [2]:
sub768 = pd.read_csv('20200721-Pandas-Merge-768-EB7-3F-Ensemble-Submission.csv').rename({'target':'target1'},axis=1)
sub512 = pd.read_csv('submission-512-EB6-3F.csv').rename({'target':'target2'},axis=1)
sub_data = pd.read_csv('20200708-Data-TF-IO-EB3.csv').rename({'target':'target3'},axis=1)

In [3]:
ensemble = sub768.merge(sub512,on='image_name',how='left')
ensemble.head()

     image_name   target1   target2
0  ISIC_0052060  0.023440  0.027555
1  ISIC_0052349  0.021552  0.022967
2  ISIC_0058510  0.024231  0.027024
3  ISIC_0073313  0.026245  0.028699
4  ISIC_0073502  0.051212  0.029710

In [4]:
ensemble = ensemble.merge(sub_data,on='image_name',how='left')
ensemble.head()

     image_name   target1   target2       target3
0  ISIC_0052060  0.023440  0.027555  6.476617e-05
1  ISIC_0052349  0.021552  0.022967  3.893586e-05
2  ISIC_0058510  0.024231  0.027024  2.258713e-08
3  ISIC_0073313  0.026245  0.028699  4.203723e-07
4  ISIC_0073502  0.051212  0.029710  1.682541e-02

In [5]:
WGT_IMG = 0.45
WGT_DATA = 0.1

ensemble['target'] = WGT_IMG * ensemble.target1 + WGT_IMG * ensemble.target2 + WGT_DATA * ensemble.target3
ensemble.head()

     image_name   target1   target2       target3    target
0  ISIC_0052060  0.023440  0.027555  6.476617e-05  0.022954
1  ISIC_0052349  0.021552  0.022967  3.893586e-05  0.020038
2  ISIC_0058510  0.024231  0.027024  2.258713e-08  0.023065
3  ISIC_0073313  0.026245  0.028699  4.203723e-07  0.024725
4  ISIC_0073502  0.051212  0.029710  1.682541e-02  0.038097

In [6]:
ensemble[['image_name','target']].to_csv('20200721-Pandas-Merge-3F512EB6-3F768EB7-DATA-Submission.csv',index=False)